.container {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 20px 35px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(108, 108, 108);
}

.title {
  font-size: 24pt;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile h4 {
  font-size: 12pt;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.btn {
  background: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
}
