{% extends 'base.html' %} 

{% block title %} Simple Auth {% endblock %} 

{% block link %}
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %} 

{% block body %}
  <div class="container">
    <h1 class="title">
      {% if g.user %} Hello, {{g.user.username}} 
      {% else %} Simple Auth 
      {% endif %}
    </h1>
    {% if g.user %}
      <div class="profile">
        <h4>Id       : {{ g.user.id }}</h3>
        <h4>Username : {{ g.user.username }}</h4>
        <h4>Email    : {{ g.user.email }}</h4>
      </div>
    {% endif %}
    <div class="actions">
      {% if g.user %}
        <a href="{{ url_for('auth.logout') }}" class="btn">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}" class="btn">Login</a>
        <a href="{{ url_for('auth.register') }}" class="btn">Register</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
